# Mengolah Data

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
dataframe = pd.read_csv('heart_dataset.csv')

In [3]:
dataframe.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# Split (Pemisahan) data dan label
data = dataframe.drop('target',axis=1)
label = dataframe.target

# Split (Pemisahan) data train dan test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data,label,test_size=0.2)

In [5]:
for x in ['x_train','x_test','y_train','y_test']:
    print(f'Size of {x} : {len(eval(x))}')

Size of x_train : 242
Size of x_test : 61
Size of y_train : 242
Size of y_test : 61

# Implementasi Machine Learning Model

In [6]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100)

In [7]:
model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [8]:
prediction = model.predict(x_test)

In [9]:
model.score(x_test,y_test)

0.8360655737704918

# Perbaikan Model

In [10]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [11]:
confusion_matrix(y_test,prediction)

array([[21,  7],
       [ 3, 30]], dtype=int64)

In [12]:
accuracy_score(y_test,prediction)

0.8360655737704918

In [13]:
# Mencoba n_estimator yang berbeda beda untuk menemukan accuracy terbaik
for n_es in range(10,110,10):
    model = RandomForestClassifier(n_estimators=n_es)
    model.fit(x_train,y_train)
    print(f'n_estimator : {n_es} accuracy_score : {accuracy_score(y_test,model.predict(x_test))*100}%')

n_estimator : 10 accuracy_score : 77.04918032786885%
n_estimator : 20 accuracy_score : 88.52459016393442%
n_estimator : 30 accuracy_score : 83.60655737704919%
n_estimator : 40 accuracy_score : 81.9672131147541%
n_estimator : 50 accuracy_score : 83.60655737704919%
n_estimator : 60 accuracy_score : 80.32786885245902%
n_estimator : 70 accuracy_score : 81.9672131147541%
n_estimator : 80 accuracy_score : 81.9672131147541%
n_estimator : 90 accuracy_score : 83.60655737704919%
n_estimator : 100 accuracy_score : 81.9672131147541%

# Implementasi Model Untuk Data Nyata

In [20]:
dataframe[:1]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1

In [41]:
kondisi = np.array([[20,1,3,140,200,1,0,140,0,1.7,0,0,0]])
model.predict(kondisi)

array([1], dtype=int64)

# Save Model

In [14]:
import pickle

In [16]:
with open('Model.pkl','wb') as file:
    pickle.dump(model,file)